<div class="animated fadeIn">

  <!--/.row-->

  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Combined All Table
        </div>
        <div class="card-block">
          <table class="table table-bordered table-striped table-condensed">
            <thead>
            <tr>
              <th> Date </th>
              <th> Sale Amount </th>
              <th> CASH </th>
              <th> EFTPOS </th>
              <th> Credit </th>
              <th> GST </th>
              <th> GST FREE </th>
              <th> Drinks </th>
              <th> Foods </th>
              <th> Manual Adjustment </th>
              <th>  Cash Paid Out </th>

            </tr>
            </thead>
            <tbody>

            <tr>
              <td>Vishnu Serghei</td>
              <td>2012/01/01</td>
              <td>Member</td>
              <td>
                <span class="badge badge-success">Active</span>
              </td>
            </tr>

            <tr>
              <td>Zbyněk Phoibos</td>
              <td>2012/02/01</td>
              <td>Staff</td>
              <td>
                <span class="badge badge-danger">Banned</span>
              </td>
            </tr>



            </tbody>
          </table>


          <nav>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>


        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
